//Mobile Size

$width: $menuHeightMobile;
$square: $menuHeightMobile - (2 * $borderMobile);

#header-outer-wrapper {
  height: $menuHeightMobile;
  #header-layout {
    position: relative;
    .menu--main {
      display: none;
    }
    .menu--contact-us {
      display: none;
    }
    .mobile-menu {
      width: $menuHeightMobile;
      height: $menuHeightMobile;
      display: block;
      p {
        text-align: center;
        margin: 12px 0;
      }
    }
    .region--menu {
      .menu--main-menu-mobile {
        ul {
          li{
            padding: 10px 0;
            a{
            color: $menuMobileColor;

          }}
        }
      }
    }

    //Mobile menu transition
    .region--menu {
      position: relative;
      z-index: 10;
      .menu--main-menu-mobile {

        position: absolute;
        top: $menuHeightMobile;
        left: 0;
        width: 100%;
        display: block;
        background: $menuMobileColor;
        z-index: 5;
      }
    }

    .region--menu {
      overflow: hidden;
      .menu--main-menu-mobile {
        left: 100vw;
      }
      &.open {
        height: 100vh;
        .menu--main-menu-mobile {
          left: 0;
          transition: left 1s ease-in-out;
        }
      }
      &.closed {
        .menu--main-menu-mobile {
          left: 100vw;
          transition: left 1s ease-in-out;
        }
      }
    }

    //Styling and animation for the menu button
    .region--menu {
      .menu-button {
        margin-top: $borderMobile;
        margin-left: $borderMobile;
        margin-right: $borderMobile;
        height: $square;
        width: $square;
        border: $line solid $menu-colour;
        position: relative;
        .line {
          position: absolute;
          width: $square - ($spacer * 2) - ($line * 2);
          height: $line;
          background: $menu-colour;
        }
      }
      &.open {
        .menu-button {
          .top-line {
            top: ($square * 0.5) - (1.5 * $line);
            left: $spacer;
            transform: rotate(45deg);
            transition: transform 1s;
          }
          .middle-line {
            display: none;
          }
          .bottom-line {
            top: ($square * 0.5)- (1.5 *$line);
            left: $spacer;
            transform: rotate(-45deg);
            transition: transform 1s;
          }
        }

      }
      &.closed {
        .menu-button {
          .top-line {
            top: ($square * 0.25) - (1.5 * $line);
            left: $spacer;
          }
          .middle-line {
            top: ($square * 0.5)- (1.5 *$line);
            left: $spacer;
          }
          .bottom-line {
            top: ($square * 0.75)- (1.5 *$line);
            left: $spacer;
          }
        }

      }
    }
  }
}