$mobile: 0px;
$mobilePortrait: 320px;
$mobileLandscape: 481px;
$tablet: 769px;
$desktop: 1025px;
$desktopWide: 1221px;
$desktopUltraWide: 1921px;
$desktop4k: 2561px;


//Mobile portrait
@include breakpoint($mobilePortrait){

}
//Mobile Landscape
@include breakpoint($mobileLandscape){

}
//Tablet
@include breakpoint($tablet){

}
//Desktop & tablet landscape
@include breakpoint($desktop){

}
//Widescreen
@include breakpoint($desktopWide){

}
//Ultra Widescreen
@include breakpoint($desktopUltraWide){

}
//4K Display
@include breakpoint($desktop4k){

}