/* Fonts */

/*
// Only required if using Google fonts with @import
// Alternative is to use @font-your-face module

@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto);

$bodyFont: 'Roboto', sans-serif !default;
$header: 'Oswald', sans-serif;
*/

//Modular scale base size and multiplier ratio.
$ms-base: 14px;
$ms-ratio: 1.18;