
//Menu Bar
$mobile-padding: 20px;
$menu-height-mobile: 70px;
$menu-height: 60px;
$menuContactRightPosition: 40px;

//Border Spacing for image
$borderMobile: 12px;
//$borderTablet: 12px;
$borderDesk: 8px;

//Mobile menu button
$spacer: 5px;
$line: 2px;
$menu-colour: white;

//Front Page
$tile-height: 44%;
$tabletPadding: 20px;
$normalPadding: 30px;

$minHeightTablet: 945px;
$minHeightDesktop: 780px;

$textSpacingVertical: 45%;
$textSpacingHorizontal: 55%;

//Page dimensions
$boxedPageWidth: 1220px;

//Contact Bar
$contactBarHeightDesktop: 50px;
$contactBarPaddingMobile: 10px;

//Pages
$pagePaddingMobile: 10px;
$pagePaddingTablet: 15px;
$pagePaddingDesktop: 30px;
$pagePaddingWidescreen: 100px;

//What we do
$whatWeDoTilePadding: 12px;
//mixin
$tilePadding: 2%;
$areaPadding: 20px;
$TitlePadding: 80px;
$titlePaddingDesk: 60px;
$widthHeightRatio: 1.6;
$tileContentPadding: 12px;