html {
  //-webkit-text-size-adjust: 100%;
}

body {
  //font-family: $reg;
  font-size: 100%;
  max-width: 100%;
  -webkit-text-size-adjust:none;
}


p {
  color: $textColor;
  text-align: left;
  font-size: ms(0);  //modular scale
  &:first-child{
    margin-top: 0;
  }
}

a {
  text-decoration: none;
  color: $linkColor;
  &:hover {
    text-decoration: none;
    color: $linkHoverColor;
  }
  h1, h2, h3, h4, h5, h6 {
    color: $headingsColor;
  }
}

h1, h2, h3, h4, h5, h6 {
  //font-family: $header;
  color: $headingsColor;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 5px;
}

h1 {
  font-size: ms(5);
  line-height:  ms(5) * 1.2;
  margin-top: 14px;
  margin-bottom: 14px;


}

h2 {
  font-size: ms(4);
  line-height:  ms(4) * 1.2;
  margin-top: 12px;
  margin-bottom: 16px;

}

h3 {
  font-size: ms(3);
  line-height:  ms(3) * 1.2;
  margin-top: 12px;
  margin-bottom: 16px;
}

h4 {
  font-size: ms(2);
  line-height:  ms(2) * 1.2;
}

h5 {
  font-size: ms(1);
  line-height:  ms(1) * 1.2;
}

h6 {
  font-size: ms(0);
  line-height:  ms(0) * 1.2;
}

details {
  border: none;
}

img {
  max-width: none;
  width: 100%;
  height: auto;
}

blockquote {

}

ul {

  li {
    text-align: center;
    text-transform: uppercase;
  }
}

ol {

  li {

  }
}
